In [ ]:
#Employee data from the keyboard and print it
eno=int(input("Enter employee number"))
ename=input("Enter employee Name")
esal=float(input("Enter employee salary"))
eaddr=input("Enter employee address")
married=bool(input("Enter employee married ?[True/False]"))
print("Employee number ",eno)
print("Employee name ",ename)
print("Employee salary",esal)
print("Employee address ",eaddr)
print("Employee married",married)

In [3]:
# Enter two number from the keyboard and sum it
x=input("Enter a number")
y=input("Enter second  number")
i=int(x)
j=int(y)
print(i+j)

Enter a number 12
Enter second  number 23

35

In [7]:
a=int(input("Enter a number"))
b=int(input("Enter a number"))
print(a+b)

Enter a number 11
Enter a number 23

34

In [9]:
print("The Sum",int(input("Enter first number"))+ int(input("Enter second number")))

Enter first number 12
Enter second number 12

The Sum 24